.ProductscardsAllTours{
  border: none !important;
  border-radius: 8px !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px !important;
}
.card_body_Wrapper{
  padding: 20px 20px 10px 20px;
}
/* ------------------------- */
.MultiUserDropdownWrapper {
  width: 150px;
}







